### Preprocessing the Data

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import our dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.datasets import make_classification
import tensorflow as tf

In [3]:
#  Import and read the csv file.
file_path = "beer_reviews.csv"
beer_df = pd.read_csv(file_path, index_col=0)
beer_df.head(10)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
index,,,,,,,,,,,,,
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883
5,1075,Caldera Brewing Company,1325524659,3.0,3.5,3.5,oline73,Herbed / Spiced Beer,3.0,3.5,Caldera Ginger Beer,4.7,52159
6,1075,Caldera Brewing Company,1318991115,3.5,3.5,3.5,Reidrover,Herbed / Spiced Beer,4.0,4.0,Caldera Ginger Beer,4.7,52159
7,1075,Caldera Brewing Company,1306276018,3.0,2.5,3.5,alpinebryant,Herbed / Spiced Beer,2.0,3.5,Caldera Ginger Beer,4.7,52159
8,1075,Caldera Brewing Company,1290454503,4.0,3.0,3.5,LordAdmNelson,Herbed / Spiced Beer,3.5,4.0,Caldera Ginger Beer,4.7,52159
9,1075,Caldera Brewing Company,1285632924,4.5,3.5,5.0,augustgarage,Herbed / Spiced Beer,4.0,4.0,Caldera Ginger Beer,4.7,52159

In [4]:
# Check for nulls
beer_df.isnull().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

In [5]:
# Drop nulls
beer_df.dropna(inplace=True)

In [6]:
# Check value counts for 'overall review'
beer_df.review_overall.value_counts()

4.0    559790
4.5    314303
3.5    286901
3.0    155840
5.0     88997
2.5     54660
2.0     35737
1.5     12032
1.0     10211
0.0         7
Name: review_overall, dtype: int64

In [7]:
# Determine the number of unique values in each column.
beer_df.nunique()

brewery_id               5230
brewery_name             5155
review_time           1510459
review_overall             10
review_aroma                9
review_appearance          10
review_profilename      32908
beer_style                104
review_palate               9
review_taste                9
beer_name               44075
beer_abv                  530
beer_beerid             49000
dtype: int64

In [8]:
# Drop the non-beneficial ID columns.
beer_df.drop(['brewery_id', 'brewery_name', 'review_time', 'review_profilename', 'beer_style', 'beer_name', 'beer_beerid'], axis=1, inplace=True)
beer_df.head(10)

,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv
index,,,,,,
0,1.5,2.0,2.5,1.5,1.5,5.0
1,3.0,2.5,3.0,3.0,3.0,6.2
2,3.0,2.5,3.0,3.0,3.0,6.5
3,3.0,3.0,3.5,2.5,3.0,5.0
4,4.0,4.5,4.0,4.0,4.5,7.7
5,3.0,3.5,3.5,3.0,3.5,4.7
6,3.5,3.5,3.5,4.0,4.0,4.7
7,3.0,2.5,3.5,2.0,3.5,4.7
8,4.0,3.0,3.5,3.5,4.0,4.7
9,4.5,3.5,5.0,4.0,4.0,4.7

In [9]:
# Determine the number of unique values in each column.
beer_df.nunique()

review_overall        10
review_aroma           9
review_appearance     10
review_palate          9
review_taste           9
beer_abv             530
dtype: int64

In [10]:
# Check data types
beer_df.dtypes

review_overall       float64
review_aroma         float64
review_appearance    float64
review_palate        float64
review_taste         float64
beer_abv             float64
dtype: object

In [11]:
# Check value counts for 'overall review'
beer_df.review_overall.value_counts()

4.0    559790
4.5    314303
3.5    286901
3.0    155840
5.0     88997
2.5     54660
2.0     35737
1.5     12032
1.0     10211
0.0         7
Name: review_overall, dtype: int64

In [12]:
# Convert the target column values to 0 (3 or under) and 1 (3.5 or higher) based on their values
beer_df.loc[beer_df['review_overall'] <= 3, 'review_overall'] = 0
beer_df.loc[beer_df['review_overall'] > 3, 'review_overall'] = 1

# Check to make sure binning was successful
beer_df.head()

,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv
index,,,,,,
0,0.0,2.0,2.5,1.5,1.5,5.0
1,0.0,2.5,3.0,3.0,3.0,6.2
2,0.0,2.5,3.0,3.0,3.0,6.5
3,0.0,3.0,3.5,2.5,3.0,5.0
4,1.0,4.5,4.0,4.0,4.5,7.7

In [13]:
# Check value counts for 'overall review' again to confirm values are either 0 or 1
beer_df.review_overall.value_counts()

1.0    1249991
0.0     268487
Name: review_overall, dtype: int64

### Create and Test Model 1 (Standard scaler & Balanced Random Forest Classifier)

In [14]:
# Create our features
X = pd.get_dummies(beer_df.drop(columns='review_overall'))

# Create our target
y = beer_df['review_overall']

In [16]:
# split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train.shape

(1138858, 5)

In [17]:
# Resample the training data with the BalancedRandomForestClassifier

# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scale = X_scaler.transform(X_test)

In [18]:
# Creating the decision tree classifier instance
# Define model
model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

# Fitting the model
model = model.fit(X_train_scaled, y_train)

In [19]:
# Calculated the balanced accuracy score

#Predict
predictions = model.predict(X_test_scale)

#accuracy score
acc_score = accuracy_score(y_test, predictions)
acc_score

0.8680417259364628

In [20]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 3.5 or over", "Actual 3 or under"], columns=["Predicted 3.5 or over", "Predicted 3 or under"]
)

cm_df

                    Predicted 3.5 or over  Predicted 3 or under
Actual 3.5 or over                  58084                  9038
Actual 3 or under                   41056                271442

In [21]:
# Print the imbalanced classification report
y_pred = model.predict(X_test)
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

        0.0       0.98      0.00      1.00      0.00      0.04      0.00     67122
        1.0       0.82      1.00      0.00      0.90      0.04      0.00    312498

avg / total       0.85      0.82      0.18      0.74      0.04      0.00    379620

In [22]:
# List the features sorted in descending order by feature importance
# Calculate feature importance in the Random Forest model. Sort by importance
importances = model.feature_importances_

sorted(zip(model.feature_importances_, X.columns), reverse=True)

[(0.4925840972738148, 'review_taste'),
 (0.25787172891924, 'review_palate'),
 (0.10684626946085171, 'beer_abv'),
 (0.09685590240436028, 'review_aroma'),
 (0.04584200194173326, 'review_appearance')]

### Create and Test Model 2 (Min Max scaler and Random Forest Classifier)

In [23]:
# Create features 
X = pd.get_dummies(beer_df.drop(columns='review_overall')) 

# Create target 
y = beer_df['review_overall'] # Target

# split the dataset into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=48)
X_train.shape

(1138858, 5)

In [24]:
# Create MinMaxScaler scaler instance
scaler = MinMaxScaler(copy=False)

# Fit MinMaxScaler Scaller
X_scaler = scaler.fit(X_train)

# Scale data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [25]:
# Build a Random Forest Classifier
rfc = RandomForestClassifier(n_estimators=100, random_state=48)
rfc.fit(X_train_scaled, y_train)

# Predict
y_pred=rfc.predict(X_test_scaled)

In [26]:
# Check the accuracy of the model

from sklearn.metrics import classification_report
from sklearn import metrics

print(classification_report(y_test,y_pred))
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.77      0.67      0.72     67058
         1.0       0.93      0.96      0.94    312562

    accuracy                           0.91    379620
   macro avg       0.85      0.81      0.83    379620
weighted avg       0.90      0.91      0.90    379620

Accuracy: 0.9062667931088983

In [27]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual 3.5 or over", "Actual 3 or under"], columns=["Predicted 3.5 or over", "Predicted 3 or under"]
)

cm_df

                    Predicted 3.5 or over  Predicted 3 or under
Actual 3.5 or over                  45011                 22047
Actual 3 or under                   13536                299026

In [28]:
# List the features sorted in descending order by feature importance
# Calculate feature importance in the Random Forest model. Sort by importance
importances = rfc.feature_importances_

sorted(zip(rfc.feature_importances_, X.columns), reverse=True)

[(0.504337848011054, 'review_taste'),
 (0.23015971456780565, 'review_palate'),
 (0.11969507513921009, 'review_aroma'),
 (0.10583701946247633, 'beer_abv'),
 (0.03997034281945378, 'review_appearance')]